.product-filter-wrapper {
  height: 10vh;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.label {
  height: 40px;
  width: fit-content;
  padding: 0px 20px 0 20px;
  background-color: #fff;
  border-radius: 20px;
  margin: auto 10px;
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  cursor: pointer;
}

.selected-label {
  height: 40px;
  width: fit-content;
  padding: 0px 20px 0 20px;
  background-color: #444;
  border-radius: 20px;
  margin: auto 10px;
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  cursor: pointer;
}

.selected-label p {
  margin: auto;
  color: #fff;
  font-size: 1em;
}

.label:hover {
  border: 2px solid grey;
}

.label p {
  margin: auto;
  color: #aaa;
  font-size: 1em;
}
