.app-wrapper {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.main-banner {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.main-banner h1 {
  text-align: center;
  margin: auto 0;
  width: 30%;
  color: #a3a3a3;
  font-weight: 800;
  font-style: italic;
  font-size: 46px;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
}
